<%= form_with(model: recipe) do |form| %>
  <% if recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
        <% recipe.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.text_field :recipe_name, class:'form-control', placeholder:'Recipe Name'%>
  </div><br/>

  <div class="field form-group">
    <%= form.text_field :ingredients, class:'form-control', placeholder:'Ingredients' %>
  </div><br/>

  <div class='row'>
    <div class='col'>
      <%= form.text_field :diet, class:'form-control', placeholder:'Diet Type, Vegan...' %>
      </div><br/>
    <div class='col'>
      <%= form.text_field :meal_type, class:'form-control', placeholder:'Meal Type, Breakfast...' %>
    </div>
  </div><br/>

  <div class="field form-group">
   <textarea placeholder='Notes' class='form-control'><% form.text_field :description %></textarea>
  </div><br/>

  <div class='row'>
    <div class='col-6 col-sm-3'>
   <%= form.submit class:"btn btn-outline-success" %><br/>
<% end %>
