<h1>Recipes</h1>


<div class='row'>
<div class='col'>
<%= form_tag recipes_path, method: :get, class:'form-inline' do %>
  <%= text_field_tag :search, params[:search], class:'form-control rounded', placeholder:'Search' %>
</div>
<div class='col'>
  <%= submit_tag "Search", class:'btn btn-outline-primary' %>
<%end%>
</div>
<div class='col'>
  <%= link_to 'Clear Search', recipes_path, class:'btn btn-outline-success btn-large' %>
  </div>
</div>
<br/>


<div class="row">
  <% @recipes.each do |recipe| %>
      <div class="col-sm-6">
        <div class='card'>
          <div class='card-header'>
            <h1><%= recipe.recipe_name.capitalize %></h1>
          </div>
          <div class='card-body'>
            <p><%= recipe.meal_type.capitalize %>  |  <%= recipe.diet.capitalize %></p>
            <div class="dropdown">
              <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Ingredients
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item"> <%= recipe.ingredients %> </a>
              </div>
            </div><br/>
            <%= link_to 'Full Recipe', recipe, class:"card-link" %>
          </div>
        </div><br/>
      </div><br/>
  <% end %>
</div><br/>
  <div class="d-grid gap-2 col-6 mx-auto">
    <%= link_to 'New Recipe', new_recipe_path, class:'btn btn-outline-success btn-large' %>
  </div>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</div>