<p id="notice"><%= notice %></p>

<p>
  <strong>Recipe name:</strong>
  <%= @recipe.recipe_name %>
</p>

<p>
  <strong>Ingredients:</strong>
  <%= @recipe.ingredients %>
</p>

<p>
  <strong>Diet:</strong>
  <%= @recipe.diet %>
</p>

<p>
  <strong>Meal Type:</strong>
  <%= @recipe.meal_type %>
</p>

<p>
  <strong>Description:</strong>
  <%= @recipe.description %>
</p>

<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>
