<div class="card text-left mx-auto" style="width: 40rem;">
  <div class="card-header">
    <br/>
    <h5 class="card-title text-center" style='font-size: xx-large;'><%= @recipe.recipe_name %></h5>
    <div class="card-body">
      <p class="card-text"><%= @recipe.diet%></p>
      <p class="card-text"><%= @recipe.meal_type%></p>
      <p class="card-text"><%= @recipe.ingredients%></p>
      <p class="card-text"><%= @recipe.description%></p>
      <%= link_to 'Edit', edit_recipe_path(@recipe), class:"btn btn-secondary" %>
      <%= link_to 'Back', recipes_path, class:"btn btn-dark" %>
    </div>
  </div>
</div>
